# Запуск: python manage.py test -k --parallel 4 {app_name}
import os

BASE_DIR = os.path.dirname(os.path.dirname(__file__))

MIGRATION_MODULES = {
    'applicant': None,
    'common': None,
    'portal': None,
    'reports': None,
    'schedules': None,
    'student_journal': None,
    'advisors': None,
    'c1': None,
    'cron_app': None,
    'integration': None,
    'organizations': None,
    'portal_users': None,
    'univer_admin': None,
}


INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'rest_framework',
    'common',
    'portal_users',
    'rest_framework_swagger',
    'rest_framework_recaptcha',
    'corsheaders',
    'django_cron',
    'cron_app',
    'bootstrap4',
    'organizations',
    'modeltranslation',
    'advisors',
    'reports',
    'schedules',
    'c1',
    'univer_admin',
    'student_journal',
    'integration',
    'applicant'
]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'testdb'
    }
}

MIDDLEWARE = [
    # 'django.middleware.security.SecurityMiddleware',
    #
    # 'django.middleware.common.CommonMiddleware',
    # 'django.middleware.csrf.CsrfViewMiddleware',
    #
    # 'django.middleware.clickjacking.XFrameOptionsMiddleware',
    # 'corsheaders.middleware.CorsMiddleware',
    # 'django.middleware.locale.LocaleMiddleware',
    #
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
]

TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [os.path.join(BASE_DIR, 'templates')]
        ,
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
            ],
        },
    },
]

ROOT_URLCONF = 'portal.urls'

SECRET_KEY = 'TEST'

def appender(sys):
    if len(sys.argv) == 1:
        sys.argv.extend(['runserver', '0.0.0.0:10000'])


CURRENT_API = None

DELETE_RECORDS_API_TOKEN = False

STATIC_URL = '/static/'

STATIC_ROOT = 'static'

MEDIA_URL = '/media/'

MEDIA_ROOT = 'media'

EMAIL_HOST = 'localhost'
EMAIL_PORT = 2500
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = False
EMAIL_USE_SSL = False
EMAIL_TIMEOUT = 60
EMAIL_SSL_KEYFILE = None
EMAIL_SSL_CERTFILE = None
